

$primary-color: #333;
$border-color: #BBB;

$primary-size: 16px;


$footer-color:  #ccc;

$font-family-sans-serif:  'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif !default;


$navbar-default-bg:                         #e0e0e0 !default;

$app-icon-font-name:          "appfont" !default;